:root {
    --padding: 8px;
    --bar-h: 3px;
    --bar-pad: 7px;
    --bar-size: calc(var(--bar-h) * 3 + 2 * var(--bar-pad));
    --hover-color: #bcbcbc;
}

body {
    font-family: 'Segoe UI', Arial;
    margin: 0px;
}

@media not all and (hover: none) {
    :is(.fileName, button):hover {
        background-color: var(--hover-color);
    }

    .fileName {
        line-height: 100% !important;
    }
}

html, body, #root {
    height: 100%;
}

#root, body {
    overflow: hidden;
}

textarea {
    resize: none;
    border-left: 0px;
    border-right: 0px;
}

button {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: inherit;
    border: 1px solid black;
    padding: 5px;
}

.padding {
    padding: var(--padding);
}

.overflow {
    overflow: auto;
}

.hidden {
    display: none;
}

.toggleSidebar {
    position: absolute;
    background-color: #232323;
    padding: var(--padding);
    border-bottom-right-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.toggleSidebar div {
    width: var(--bar-size);
    height: var(--bar-h);
    border-radius: var(--bar-h);
    background-color: white;
}

.toggleSidebar div:not(:last-child) {
    margin-bottom: var(--bar-pad);
}

.folderContainer {
    user-select: none;
}

.file {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0px;
    max-width: fit-content;
}

.file, .hyperlink {
    cursor: pointer;
}

.split {
    display: flex;
}

.sidebar {
    padding-top: calc(var(--bar-size) + 3 * var(--padding)) !important;
    border-right: 1px solid black;
}

.sidebarChildren {
    margin-bottom: var(--padding);
}

.content {
    flex: 1;
    width: 50%;
}

.folder {
    margin-left: 25px;
}

a[href] {
    color: inherit;
}

.fileName {
    white-space: nowrap;
    line-height: 105%;
    padding: 4px 0px;
}

.docTitle {
    text-align: center;
}

.evenSplit {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.evenSplit > :not(:first-child) {
    flex: 1;
    height: 0px;
}

.topRight {
    height: 27px;
    display: flex;
    justify-content: end;
    align-items: baseline;
    padding: var(--padding);
}

.topRight * {
    height: 100%;
}

.renderedContainer {
    width: 100%;
    height: 100%;
}

.rendered {
    width: auto;
    min-height: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.renderedContainer.overflow .rendered {
    height: auto;
}

.h1, .h2, .h3 {
    display: flex;
    align-items: center;
}

.h1 {
    font-size: 32px;
}

.h2 {
    font-size: 25px;
}

.h3 {
    font-size: 20px;
}

.icon {
    overflow: visible;
    cursor: pointer;
}

.icon > * {
    transform: translate(1px, 1px);
}

.buttons {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin: 1px 0px;
}

.buttons > div {
    margin-bottom: -4px;
}

.gap {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.gap > * {
    align-self: stretch;
}